{% extends "base.html" %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h2 class="h3 mb-0 text-gray-800">{{ id_project }} {{ name_project }}</h2>
  </div> -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="btn btn-link btn-block" href="{{ url_for('return_project')}}">Regresar a proyectos</a>
      </li>
    </ul>
  </nav>
  <div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h2 class="h3 mb-0 text-gray-800">Fiber analysis online</h2>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de análisis</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
          <thead>
          <tr>
          <th>ID</th>
          <th>Análisis</th>
          <th>Fecha</th>
          <th>Acción</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              {% for row in analysis %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
                  <td>
                    <a class="btn btn-primary" href="{{ url_for('edit_analysis', id_analysis=row[0]) }}">
                      Editar
                    </a>
                    <a class="btn btn-danger" href="{{ url_for('delete_analysis', id_analysis=row[0]) }}">
                      Eliminar
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        </div>
          <br><br>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addAnalysisModal">Agregar análisis</button> 
    </div>
  </div>

</div>

  <!-- New Analysis Modal-->
  <div class="modal fade" id="addAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear análisis</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="project-form" action="/add_analysis" method="POST">
            <div class="form-group">
              <label for="name" class="col-form-label">Nombre:</label>
              <input class="form-control" type="text" name="nameanalysis" />
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label">Fecha:</label>
              <input class="form-control" type="date" name="dateanalysis" />
            </div> 
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" type="submit">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}