html, body{
    background: #fafafa;
    background-image: url("../img/imagen.png");
    background-size: 100%;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#auth-container{
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-shadow: 2px 2px 3px gray;
}

#coloregister{
    background: #4F6AD7;
    background-image: url("../img/image_register.png");
    background-size: 100%;
}

.rectangle{
    width: 270px; 
    height: 70px; 
    /* background: #428bca; */
    background: linear-gradient(to right, #275379, #4FA8F5);
    text-align: center;
    color: white;
    justify-content: center;
    vertical-align: middle;
    padding: 5% 0;
}

.header{
    background: linear-gradient(to right, #275379, #4FA8F5);
}

.formatletter{
    font-size: 12px;
}

.footer{
    width: 100%;
    position: absolute;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
    top: 93%;
}